<div class="container-fluid">
  <% if !@unlocked %>
  <div class="row row-centered content">
  	<div class="col-md-12">
  		<div class="col-sm-9 form-group">
  			<input class="form-control code-input" placeholder="access code"></input>
  		</div>
  		<div class="col-sm-3 form-group">
  			<button class="btn" id="code-submit">Enter</button>
  		</div>
  	</div>
  </div>
  <%elsif @unlocked%>
  <div class="row">
    <div class="col-sm-12 blog-content"> 
      <article>
        <header>
          <h1><strong>Custom Order for <%=@order.name%></strong></h1> Order Number: <%= @order.id %>
          <%= link_to "Pay", bill_path(@bill, code: @bill.pass_key), class: "btn pull-right" %>
        </header>
        <div class="post-date">
          Created: <%= @order.created_at %>
        </div> 
        <div>
          <p><h3>Status: <%= @order.status %></h3></p>
          <small>(pending - inprogress - completed - awaiting payment - complete)</small>
        </div> 
        <div>
          <p><h3>Info:</h3></p>
          <p>"<%= @order.info %>"</p>
        </div>
        <div>
          <p><h3>Canvas Size:</h3></p>
          <p>"<%= @order.canvas_size %>"</p>
        </div>
        <hr>
        <div><h3><%= @order.messages.count%> Messages</h3> <span><a href="mailto:<%=@order.email%>"><%=@order.email%></a></span> 
        </div>
        <div class="media">

          <% @order.messages.each do |message| %>
          <div class="media-body">
            <h4 class="media-heading"><a href="mailto:<%=message.email%>"><%= message.author %></a><span><%= time_ago_in_words(message.created_at) %></span></h4>
            <p><%= message.body %></p>
            
            <%= image_tag message.image_url.to_s, class: "message-image" if message.image %>
          </div>
          <%end%>

        </div>
        <hr>
      

      <h3>Add a new message</h3>
      
        
      
      <%= form_for([@order, @order.messages.build],:html => {:mulitipart => true}) do |f| %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 wow fadeInUp" >
            <div class="form-group">
              <%= f.label :body,"Message", class: "control-label" %>
              <div class="controls">
                <%= f.text_area :body, class:"form-control input-lg requiredField", rows:"3"%>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <%= f.label :author, "Name", class: "control-label" %>
                  <div class="controls">
                    <% if session[:admin] %>
                    <%= f.text_field :author, value:"Janessa", class:"form-control input-lg requiredField"%>
                    <% else %>
                      <%= f.text_field :author, value:"#{@order.name}", class:"form-control input-lg requiredField"%>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
               <div class="form-group">
                  <%= f.label :email, class: "control-label" %>
                  <div class="controls">
                    <% if session[:admin] %>
                    <%= f.text_field :email, value:"dipndapinbloom@gmail.com", class:"form-control input-lg requiredField", type:"email"%>
                    <% else %>
                      <%= f.text_field :email, value:"#{@order.email}", class:"form-control input-lg requiredField", type:"email"%>
                    <% end %>
                  </div>
                </div>
              </div>  
            </div>  
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <%= f.submit 'Send Message', class: "btn btn-block" %>
                </div>  
              </div>  
            </div>
          </div>
        </div>

        <%= f.file_field :image %>
      <% end %>


    </article>
    </div>
  </div>
</div>
<% end %>

<div>
  <script type="text/javascript">
  var url = document.URL;
  $( "#code-submit" ).click(function() {
   url = url + '?code=' + $('.code-input').val();
   window.location.href = url;
 });
  </script>