<!DOCTYPE html>
<html>
<head>
  <title>Dipndap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
		<!-- <link rel="stylesheet" href="/assets/css/style.css?v=5"> -->
		<link rel="stylesheet" href="/assets/css/icomoon/style.css">
		<link rel="shortcut icon" href="/assets/img/ico/32.png" sizes="32x32" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" href="/assets/img/ico/60.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/ico/72.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/ico/120.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/ico/152.png" type="image/png"/>
</head>
<body id="home">
			<div class="menu-wrapper">
				<a href="#" class="close-menu visible-xs"><i class="icon-close"></i></a>
				<h3 class="visible-xs">Navigation</h3>
				<ul class="nav-list text-center effect">
					<li><a href="/">Shop</a></li>
					<li><a href="/works">Projects</a></li>
					<li><a href="/faq">Faq</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>	
		</div>	
	
		<div id="wrap">
			<div class="container-fluid">
				<% if flash[:error] -%>
				  <p class='error'><%=h flash[:error] %></p>
				<% end -%>
				<% if flash[:notice] -%>
				  <p class='notice'><%=h flash[:notice] %></p>
				<% end -%>
			<div id="main-nav" class="">
				<div class="container-fluid">	
					<div class="nav-header" style"width: 350px;">
							<a href="/" class="nav-brand">DIPNDAP <span>IN BLOOM</span></a>
							<a class="nav-icon pull-right visible-xs menu-link" href="#"><i class="icon-menu2"></i></a>
						</div>
				</div>
			</div>

			<%= yield %>
	
			<footer>
				<div class="container-fluid">
					<div class="pull-left copyright">
						<p>JANESSA <b>HANCUFF</b> &copy; 2015. Site by <a href="http://www.derekdapp.com" target="_blank">Derek Dapp</a>.</p>
						<ul class="nav-list effect">
							<li><a href="/tos">Terms & Conditions</a></li>
							<li><a href="faq.html">FAQ</a></li>
						</ul>	
					</div>

					<div class="pull-right copyright">
							<ul class="social-links">
								<li><a href="https://twitter.com/DipNdap"><i class="icon-twitter"></i></a></li>
								<li><a href="https://instagram.com/dipndap/"><i class="icon-instagram"></i></a></li>
							</ul>
					</div>
				</div>
			</footer>

		</div>
<script type="text/javascript" src="/assets/js/placeholders.min.js"></script>
		<script type="text/javascript" src="/assets/js/custom.js"></script>
		<script type="text/javascript" src="/assets/js/ga.js"></script>

</body>
</html>
